@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color:rgb(52, 10, 52);
    color: white;
    height: 50px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
     font-family: "Roboto", sans-serif;
}

nav ul{
    list-style: none;
}

.gameContainer{
background-color: yellow ;
display: flex;
justify-content: center;
margin-top: 50px;
}